In [12]:
import pandas as pd
file_path = "./ref/서울교통공사_역별일별시간대별승하차인원정보_20231231.csv"
df = pd.read_csv(file_path, encoding="EUC-KR")
df.head()

,연번,수송일자,호선,역번호,역명,승하차구분,06시이전,06-07시간대,07-08시간대,08-09시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시이후
0,1,2023-01-01,1호선,150,서울역,승차,215,145,231,594,...,2655,2509,2696,2549,2462,2177,2190,1808,734,7
1,2,2023-01-01,1호선,150,서울역,하차,154,636,595,939,...,2282,2295,2526,1930,1897,1487,991,609,280,46
2,3,2023-01-01,1호선,151,시청,승차,48,73,106,194,...,843,895,959,985,670,630,515,330,146,0
3,4,2023-01-01,1호선,151,시청,하차,64,247,293,463,...,602,575,533,456,285,267,246,154,79,18
4,5,2023-01-01,1호선,152,종각,승차,407,235,158,201,...,1145,1402,1223,1272,911,913,906,602,232,3

In [11]:
columns1 = ['month','date','num','name','type']
time_col = [f"{i}~{i+1}H" for i in range(5,24)]
columns = columns1 + time_col
df.columns = columns
df = df.loc[:,:'type']

ValueError: Length mismatch: Expected axis has 25 elements, new values have 24 elements

In [9]:
df.head()

         date  num                name type
0  2024-01-01  100  녹동                   승차
1  2024-01-01  100  녹동                   하차
2  2024-01-01  101  소태                   승차
3  2024-01-01  101  소태                   하차
4  2024-01-01  102     학동증심사             승차